		
			
		body
		{
			background: url(images/home.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
			
	
			
		.left
		{
			width; 100%;
		}

		.one
		{	
			float: left;
			background-color: #FFDAB9;
			border: 1px solid black;
			opacity: 0.8;
			filter: alpha(opacity=80);
			position: relative;
			height: 300px;
			width: 30%;
			margin: 1%;
			
			
		}

		.two
		{	
			float: left;
			background-color: #FFDAB9;
			border: 1px solid black;
			opacity: 0.8;
			filter: alpha(opacity=80);
			position: relative;
			height: 300px;
			width: 33%;
			margin: 1%;
		}	
		.three
		{	
			float: left;
			background-color: #FFDAB9;
			border: 1px solid black;
			opacity: 0.8;
			filter: alpha(opacity=80);
			position: relative;
			height: 300px;
			width: 30%;
			margin: 1%;
		}
		
		.margin
		{
			font-size:160%; margin:15px;
		}
		h2
		{
			margin:10px;
		}
	